<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>د حریت سباوون سوداګریز شرکت</ShortName>
  <Description>د حریت سباوون سوداګریز شرکت</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://huriatsabawoonltd.com/pa/component/search/?format=opensearch"/>
  <Url type="text/html" template="http://huriatsabawoonltd.com/pa/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
