<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>شرکت تجارتی حریت سباوون</ShortName>
  <Description>شرکت تجارتی حریت سباوون</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://huriatsabawoonltd.com/fa/component/search/?Itemid=845&amp;format=opensearch"/>
  <Url type="text/html" template="http://huriatsabawoonltd.com/fa/index.php?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
